{
  "telegram_token": "",
  "telegram_chat_id": 0,
  "telegram_controls_only": false,
  "http_port": 0,
  "auto_start_day": true,
  "enable_desktop_notifications": true,
  "history_file": "session-history.json",
  "activity_types_file": "activity-types.json",
  "default_activity_type": "работа",
  "inactivity_types_file": "inactivity-types.json",
  "log_file": "",
  "idle_warn_after": "2m",
  "stop_after_warn": "1m",
  "poll_interval": "5s",
  "excluded": [
    {
      "tag": "telegram",
      "type": "title",
      "exclude": null
    },
    {
      "tag": "youtube",
      "type": "title",
      "exclude": null
    }
  ]
}
